- content_for :header do
  = form_tag new_user_session_path, :id => 'login_form' do
    #email_label.label
      = label_tag 'user[email]', t('users.form.email')
    #password_label.label
      = label_tag 'user[password]', t('users.form.password')

    #email_field
      = email_field_tag 'user[email]', nil, :tabindex => @signin_index
    #password_field
      = password_field_tag 'user[password]', nil, :tabindex => @signin_index + 1
    #submit_button
      = submit_tag t('layouts.application.log_in'), :tabindex => @signin_index + 3

    #remember_me
      = label_tag 'user[remember_me]', t("sessions.new.remember_me")
      = check_box_tag 'user[remember_me]', '1', false, :tabindex => @signin_index + 2

    #recover_password
      = link_to t("devise.passwords.link"), new_password_path("user")

- content_for :js do
  = include_javascripts :landing

#title_landingpage

  %h1 Stock talk without the noise...

#content

  %p

    StockCrunch is a question and answer forum for the stock market and economy.
    Constantly expanded and improved upon by moderators and professionals,
    StockCrunch seeks to fix the broken 'stock bulletin board' and become
    a quality resource for investors.

  %p
    %strong

      Se você é curioso e gosta de compartilhar conhecimento, o
      Umamão é para você.

  %p
    = link_to 'See the most popular topics on StockCrunch!', topics_path

  %p
    .quote
      StockCrunch is a great opportunity to create a community
      for investors where there is actually quality dialogue.

  %p
    .quote_author
      %strong
        Warren Buffet
      , legendary investor


#signup
  %h3  #{ t('layouts.application.signup') }

  = form_for @affiliation, :remote => true,
    :url => affiliations_path(:format => :js),
    :html => { "data-type" => "json" } do |f|
    #landing_signup
      .field
        .label{:style => "position: relative; top: 12px"}
          = f.label :email, "#{t('affiliations.form.email')}:"
          = image_tag('icon_question.gif', :id => 'email-help')
        .input
          = f.email_field :email, :value => "", :tabindex => @signup_index
        #help-box
          %p

            We need your email to create your account and
            send an acitvation email.
      = image_tag("mamaopq.png", :id => "mamao_signup")
      .submit
        = image_tag("ajax-loader.gif", :id => "ajax-loader", :class => "hidden")
        = f.submit t('layouts.application.signup_button'), :tabindex => @signup_index + 1

#content_msg
  %p
    Financial Advisors, Traders and Gurus...
    %strong
      StockCrunch is a great place to meet investors and contribute to the community.
    %br
    Join today!

