= cache "umamao_footer", :expires_in => 1.week do
  #footer
    %ul
      %li
        = link_to 'About', about_url
        \|
      %li
        = link_to 'Feedback', 'http://feedback.stockcrunch.com', :target => '_blank'
        \|
      %li
        = link_to 'Blog', 'http://blog.stockcrunch.com', :target => '_blank'
        \|
      %li
        = link_to 'Twitter', 'http://twitter.com/stockcrunch', :target => '_blank'
        \|
      %li
        = link_to 'Facebook', 'http://www.facebook.com/', :target => '_blank'
        \|
  ~ AppConfig.conversion_tracking_code if flash[:conversion]
